<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/style') %>
    <title>Document</title>
</head>
<%- include ('./partials/navbar.ejs') %>

    <h1>Selamat datang!</h1>
    <h2>ini adalah list surat masuk</h2>
    <p><a href="">Tambahkan Data</a></p>

    <table border="4">
        <tr>
            <td>tanggal</td>
            <td>Nomor Agenda Subdit</td>
            <td>Nomor Agenda Direktur</td>
            <td>Asal Surat</td>
            <td>Tujuan</td>
            <td>Nomor Surat</td>
            <td>Tanggal Surat</td>
            <td>Perihal</td>
            <td>Disposisi Seksie</td>
            <td>Disposisi Staff</td>
            <td>Isi Disposisi</td>
            <td>Catatan</td>
        </tr>
        <% data.forEach(el => { %>
            <tr>
                <td> <%= el.tanggal %> </td>
                <td> <%= el.id %> </td>
                <td> <%= el.nomor_agenda_direktur %> </td>
                <td> <%= el.asal_surat %> </td>
                <td> <%= el.tujuan %> </td>
                <td> <%= el.nomor_surat %> </td>
                <td> <%= el.tanggal_surat %> </td>
                <td> <%= el.perihal %> </td>
                <td> <%= el.disposisi_seksie %> </td>
                <td> <%= el.disposisi_staff %> </td>
                <td> <%= el.isi_disposisi %> </td>
                <td> <%= el.catatan %> </td>
            </tr>
            <% }) %>
    </table>
</body>
</html>