<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/style')%>
    <title>login</title>
</head>
<%- include ('./partials/navbar.ejs') %>
    <div style="margin-left: auto;margin-right: auto;text-align: center;">

        <br>
        <br>
        <table style="text-align: center;margin-left: auto;margin-right: auto;width: 50%;" class="table table-hover border border-4">
            <tr class="border border-4">`
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">Tanggal</th>
                <td> <%= data.tanggal %> </td>
            </tr>
            <tr class="border border-4">
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">No. Agenda Subdit</th>
                <td> <%= data.nomor_agenda_subdit %> </td>
            </tr>
            <tr class="border border-4">
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">No. Agenda Direktur</th>
                <td>
                    <% if (data.nomor_agenda_direktur) { %>
                        <%= data.nomor_agenda_direktur %>
                    <% } else { %>
                        -
                    <% } %>
                </td>
            </tr>
            <tr class="border border-4">
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">Asal Surat</th>
                <td>
                    <% if (data.asal_surat) { %>
                        <%= data.asal_surat %>
                    <% } else { %>
                        -
                    <% } %>
                </td>
            </tr>
            <tr class="border border-4">
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">Tujuan</th>
                <td>
                    <% if (data.tujuan) { %>
                        <%= data.tujuan %>
                    <% } else { %>
                        -
                    <% } %>
                </td>
            </tr>
            <tr class="border border-4">
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">No. Surat</th>
                <td>
                    <% if (data.nomor_surat) { %>
                        <%= data.nomor_surat %>
                    <% } else { %>
                        -
                    <% } %>
                </td>
            </tr>
            <tr class="border border-4">
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">Tanggal Surat</th>
                <td>
                    <% if (data.tanggal_surat) { %>
                        <%= data.tanggal_surat %>
                    <% } else { %>
                        -
                    <% } %>
                </td>
            </tr>
            <tr class="border border-4">
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">Perihal</th>
                <td>
                    <% if (data.perihal) { %>
                        <%= data.perihal %>
                    <% } else { %>
                        -
                    <% } %>
                </td>
            </tr>
            <tr class="border border-4">
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">Disposisi Seksie</th>
                <td>
                    <% if (data.disposisi_seksie) { %>
                        <%= data.disposisi_seksie %>
                    <% } else { %>
                        -
                    <% } %>
                </td>
            </tr>
            <tr class="border border-4">
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">Disposisi Staff</th>
                <td>
                    <% if (data.disposisi_staff) { %>
                        <%= data.disposisi_staff %>
                    <% } else { %>
                        -
                    <% } %>
                </td>
            </tr>
            <tr class="border border-4">
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">Isi Disposisi</th>
                <td>
                    <% if (data.isi_disposisi) { %>
                        <%= data.isi_disposisi %>
                    <% } else { %>
                        -
                    <% } %>
                </td>
            </tr>
            <tr class="border border-4">
                <th class="border border-4" style="background-color: black;color: white;width: 30%;vertical-align: middle;">Catatan</th>
                <td>
                    <% if (data.catatan) { %>
                        <%= data.catatan %>
                    <% } else { %>
                        -
                    <% } %>
                </td>
            </tr>
        </table>
        <br>
        <form action="/in/surat">
            <button type="submit" class="btn btn-primary" formaction="">Edit</button> 
            <button type="submit" class="btn btn-primary">Go Back</button> 
        </form>
    </div>
</body>
</html>